{% extends 'base.html.twig' %}

{% block title %}Créer une nouveau lieu{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">✨ Créer une nouveau lieu</h1>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div>
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
